main.c-main
  section.c-proyecto
    .c-proyecto-banner#laCaverna
      h1.c-proyecto-title=proyecto.caverna.name
      p.c-proyecto-subtitle=proyecto.caverna.subtitle
    .c-proyecto-textos
      h2.c-proyecto-name=proyecto.caverna.name
      p.c-proyecto-surname=proyecto.caverna.surname
      p.c-proyecto-description=proyecto.caverna.description
    .c-proyecto-imagen
      img(src=proyecto.caverna.img2, alt=proyecto.caverna.alt)
    .c-proyecto-compare
      .c-proyecto-compare-imagenes
        .antes
          img(src=proyecto.caverna.img640a)
          p ANTES
        img(src=proyecto.caverna.img640c)
