main.c-main
  section.c-proyecto
    .c-proyecto-banner#laCaverna
      h1.c-proyecto-title=proyecto.departamento.name
      p.c-proyecto-subtitle=proyecto.departamento.subtitle
    .c-proyecto-textos
      h2.c-proyecto-name=proyecto.departamento.name
      p.c-proyecto-surname=proyecto.departamento.surname
      p.c-proyecto-description=proyecto.departamento.description
    .c-proyecto-imagen
      img(src=proyecto.departamento.img, alt=proyecto.departamento.alt)
    .c-proyecto-compare
      h3 Antes y Después
      p Acá me faltan las fotos para poder hacer lo que habiamos acordado, una imagen con el antes y otra con el después.
      .c-proyecto-compare-imagenes
        img(src=proyecto.departamento.img640a)
        img(src=proyecto.departamento.img640b)
