main.c-main
  section.c-proyecto
    .c-proyecto-banner#laRosa
      h1.c-proyecto-title=proyecto.rosa.name
      p.c-proyecto-subtitle=proyecto.rosa.subtitle
    .c-proyecto-textos
      h2.c-proyecto-name=proyecto.rosa.name
      p.c-proyecto-surname=proyecto.rosa.surname
      p.c-proyecto-description=proyecto.rosa.description
    .c-proyecto-imagen
      img(src=proyecto.rosa.img2, alt=proyecto.rosa.alt)
    .c-proyecto-compare
      .c-proyecto-compare-imagenes
        .antes
          img(src=proyecto.rosa.img640a)
          p ANTES
        img(src=proyecto.rosa.img640c)
