main.c-main
  section.c-proyecto
    .c-proyecto-banner#optica
      h1.c-proyecto-title=proyecto.optica.name
      p.c-proyecto-subtitle=proyecto.optica.subtitle
    .c-proyecto-textos
      h2.c-proyecto-name=proyecto.optica.name
      p.c-proyecto-surname=proyecto.optica.surname
      p.c-proyecto-description=proyecto.optica.description
    .c-proyecto-imagen
      img(src=proyecto.optica.img, alt=proyecto.optica.alt)
    .c-proyecto-compare
      h3 Antes y Después
      p Acá me faltan las fotos para poder hacer lo que habiamos acordado, una imagen con el antes y otra con el después.
      .c-proyecto-compare-imagenes
        img(src=proyecto.optica.img640a)
        img(src=proyecto.optica.img640b)
