main.c-main
  section.c-proyecto
    .c-proyecto-banner#pizza
      h1.c-proyecto-title=proyecto.pizza.name
      p.c-proyecto-subtitle=proyecto.pizza.subtitle
    .c-proyecto-textos
      h2.c-proyecto-name=proyecto.pizza.name
      p.c-proyecto-surname=proyecto.pizza.surname
      p.c-proyecto-description=proyecto.pizza.description
    .c-proyecto-imagen
      img(src=proyecto.pizza.img, alt=proyecto.pizza.alt)
    .c-proyecto-compare
      .c-proyecto-compare-imagenes
        img(src=proyecto.pizza.img640a)
        img(src=proyecto.pizza.img640b)
