header#mainHeader.c-header
  h1.c-header-logo
   a(href=link.home)
    img(src="img/logo.jpg", alt="Logo SPestudio")
  i#openMenu.c-header-menu.icon-menu
  nav#mainNav.c-nav
    i#closeMenu.icon-close.c-nav-close
    ul.c-nav-menu
      li.c-nav-menu-item
        a(href=link.home)#home Inicio
      li.c-nav-menu-item
        a(href=link.nuestroestudio)#estudio Nosotros
      li.c-nav-menu-item
        a(href=link.servicios)#servicios Servicios
      li.c-nav-menu-item
        a(href=link.proyectos)#proyectos Proyectos
      li.c-nav-menu-item
        a(href=link.contacto)#contacto Contacto
    div.c-nav-sociales
      a(href="https://www.facebook.com/spestudiodiseno/" target="_blank")
        i.icon-facebook
      a(href="https://www.instagram.com/spestudiodiseno/" target="_blank")
        i.icon-instagram
      a(href= "https://empresas.habitissimo.cl/pro/sp-estudio-diseno-y-remodelacion-5bf2cefe0df8e#1" target="_blank")
        i.icon-home
