header#mainHeader.c-header
  h1.c-header-logo
   a(href=link.home)
    img(src="img/logo.jpg", alt="Logo SPestudio")
  i#openMenu.c-header-menu.icon-menu
  nav#mainNav.c-nav
    i#closeMenu.icon-close.c-nav-close
    ul.c-nav-menu#mainMenu
      li.c-nav-menu-item
        a(href=link.home).link Home
      li.c-nav-menu-item
        a(href=link.nuestroestudio).link Nuestro Estudio
      li.c-nav-menu-item
        a(href=link.servicios).link Servicios
      li.c-nav-menu-item
        a(href=link.mision).link Misión
      li.c-nav-menu-item
        a(href=link.proyectos).link Proyectos
      li.c-nav-menu-item
        a(href=link.contacto).link Contacto
    div.c-nav-sociales
      a(href="https://www.facebook.com/spestudiodiseno/" target="_blank")
        i.icon-facebook
      a(href="https://www.instagram.com/semmleryprausestudio/" target="_blank")
        i.icon-instagram
      a(href= "https://empresas.habitissimo.cl/pro/sp-estudio-diseno-y-remodelacion#1" target="_blank")
        i.icon-home
