main.c-main
  section.c-proyectos
    h1.c-proyectos-title Proyectos
    section.c-proyectos-galery
      a(href=proyecto.pizza.url)
        figure
          .proyectos-img
            img(src=proyecto.pizza.img640b, alt=proyecto.pizza.alt)
          footer
            p Pizzería La Fermata
      a(href=proyecto.pastel.url)
        figure
          .proyectos-img
            img(src=proyecto.pastel.img640b, alt=proyecto.pastel.alt)
          footer
            p Pastelería Color Pastel
      a(href=proyecto.terraza.url)
        figure
          .proyectos-img
            img(src=proyecto.terraza.img640b, alt=proyecto.terraza.alt)
          footer
            p Terraza Sibarita
      a(href=proyecto.dominga.url)
        figure
          .proyectos-img
            img(src=proyecto.dominga.img640b, alt=proyecto.dominga.alt)
          footer
            p Dulce Dominga
      a(href=proyecto.togni.url)
        figure
          .proyectos-img
            img(src=proyecto.togni.img640b, alt=proyecto.togni.alt)
          footer
            p De Togni
      a(href=proyecto.friends.url)
        figure
          .proyectos-img
            img(src=proyecto.friends.img640b, alt=proyecto.friends.alt)
          footer
            p Bar Friends
      a(href=proyecto.dulce.url)
        figure
          .proyectos-img
            img(src=proyecto.dulce.img640b, alt=proyecto.dulce.alt)
          footer
            p Cafetería Dulce y Miel
      a(href=proyecto.caverna.url)
        figure
          .proyectos-img
            img(src=proyecto.caverna.img640b, alt=proyecto.caverna.alt)
          footer
            p Cafetería La Caverna
      a(href=proyecto.departamento.url)
        figure
          .proyectos-img
            img(src=proyecto.departamento.img640b, alt=proyecto.departamento.alt)
          footer
            p Asesoría en decoración integral depto Viña del Mar
      a(href=proyecto.optica.url)
        figure
          .proyectos-img
            img(src=proyecto.optica.img640b, alt=proyecto.optica.alt)
          footer
            p Óptica Italiana
      a(href=proyecto.hotel.url)
        figure
          .proyectos-img
            img(src=proyecto.hotel.img640b, alt=proyecto.hotel.alt)
          footer
            p Hotel Gran Bretaña 21
      a(href=proyecto.pols.url)
        figure
          .proyectos-img
            img(src=proyecto.pols.img640b, alt=proyecto.pols.alt)
          footer
            p Pastelería Dulce Pols
