main.c-main
  section.c-proyectos
    h1.c-proyectos-title Proyectos
    section.c-proyectos-galery
      a(href=proyecto.pizza.url)
        figure
          .proyectos-img
            img(src=proyecto.pizza.img640b, alt=proyecto.pizza.alt)
          footer
            p Pizzería La Fermata
      a(href=proyecto.pastel.url)
        figure
          .proyectos-img
            img(src=proyecto.pastel.img640b, alt=proyecto.pastel.alt)
          footer
            p Pastelería Color Pastel
      a(href=proyecto.caverna.url)
        figure
          .proyectos-img
            img(src=proyecto.caverna.img640b, alt=proyecto.caverna.alt)
          footer
            p Cafetería La Caverna
      a(href=proyecto.optica.url)
        figure
          .proyectos-img
            img(src=proyecto.optica.img640b, alt=proyecto.optica.alt)
          footer
            p Óptica Italiana
