.c-slider2
  #slider2.slider2
    section.slider2-section
      img(src=proyecto.pizza.img640a)
    section.slider2-section
      img(src=proyecto.pastel.img640a)
    section.slider2-section
      img(src=proyecto.terraza.img640a)
    section.slider2-section
      img(src=proyecto.dominga.img640a)
    section.slider2-section
      img(src=proyecto.togni.img640a)
    section.slider2-section
      img(src=proyecto.friends.img640a)
    section.slider2-section
      img(src=proyecto.dulce.img640a)
    section.slider2-section
      img(src=proyecto.caverna.img640a)
    section.slider2-section
      img(src=proyecto.departamento.img640a)
    section.slider2-section
      img(src=proyecto.optica.img640a)
    section.slider2-section
      img(src=proyecto.hotel.img640a)
    section.slider2-section
      img(src=proyecto.pols.img640a)
