main.c-main
  section.c-proyecto
    .c-proyecto-banner#laCaverna
      h1.c-proyecto-title=proyecto.togni.name
      p.c-proyecto-subtitle=proyecto.togni.subtitle
    .c-proyecto-textos
      h2.c-proyecto-name=proyecto.togni.name
      p.c-proyecto-surname=proyecto.togni.surname
      p.c-proyecto-description=proyecto.togni.description
    .c-proyecto-imagen
      img(src=proyecto.togni.img, alt=proyecto.togni.alt)
    .c-proyecto-compare
      h3 Antes y Después
      p Acá me faltan las fotos para poder hacer lo que habiamos acordado, una imagen con el antes y otra con el después.
      .c-proyecto-compare-imagenes
        img(src=proyecto.togni.img640a)
        img(src=proyecto.togni.img640b)
